.view-container {
    position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: #00b7f5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.page-details.ng-enter,
.view-frame.page-list.ng-enter {
  -webkit-animation: 0.5s fadeIn;
  -moz-animation: 0.5s fadeIn;
  -o-animation: 0.5s fadeIn;
  animation: 0.5s fadeIn;
  z-index: 100;
}

.view-frame.page-search.ng-enter {
  -webkit-animation: 0.5s slideInUp;
  -moz-animation: 0.5s slideInUp;
  -o-animation: 0.5s slideInUp;
  animation: 0.5s slideInUp;
  z-index: 100;
}

/*
.view-frame.ng-leave {
  -webkit-animation: 0.5s fadeOut;
  -moz-animation: 0.5s fadeOut;
  -o-animation: 0.5s fadeOut;
  animation: 0.5s fadeOut;
  z-index:99;
}
*/

/* fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* fade-out */
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@-moz-keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

@-webkit-keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
