.header a {
    color: #fff;
}

.header a:visited {
    color: #fff;
}

.header a:hover {
    color: #fff;
}

.language-select .form-control {
    width: auto;
    display: inline-block;
}

.header-icons {
    padding: 0 5px;
    font-size: 1.1em;
}

@media screen and (max-width: 600px) {
    .hidden-xxs {
        display: none;
    }

    .header-icons {
        padding: 0;
        font-size: 1em;
    }
}
