<div class="job-header" style="background-image: url('{{job.cover_images[0]}}');">
    <div>
        <!-- BACK ARROW -->
        <div class="back-icon">
            <a href="#" onclick="window.history.back()"><i class="fa fa-chevron-left"></i><span>Back</span></a>
        </div>
        <!-- JOB INFO BAR -->
        <div>
            <div class="col-md-12 job-header-text" ng-model="joblist">
                <div class="job-header-title">{{job.title}}</div>
                <div class="lightweight">
                    {{job.employer.name}}<br>
                    <i class="fa fa-map-marker"></i> {{job.location.address}},{{job.location.city}},{{job.location.province}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container job-body">
    <div class="row">
        <div class="col-md-12 data-box details-data-box">
            <div class="row">
                <div class="col-md-12 job-body-heading">
                    ROLE
                </div>
                <div class="col-md-12">
                    {{job.title}} at {{job.employer.name}}
                </div>
                <br>
                <div class="col-md-12 job-body-heading">
                    JOB TYPE
                </div>
                <div class="col-md-12">
                    {{job.employment_type}}
                </div>
                <br>
                <div class="col-md-12 job-body-heading">
                    LOCATION
                </div>
                <div class="col-md-12">
                    <a class="underline" href="http://maps.google.com/?q={{job.location.address}}">{{job.location.address}},{{job.location.city}},{{job.location.province}}</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 data-box job-body-details details-data-box">
            <div class="row">
                <div class="col-md-12 job-body-heading">
                    JOB DETAILS
                </div>
                <div class="col-md-12">
                    <pre>{{job.description}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="quick-apply">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="kik-wirkn-logo" ng-src="/images/wirkn-logo-icon.png" alt="Wirkn logo icon" />
                <div class="quick-apply-text">
                    <b>QUICK APPLY</b><br>
                    <span class="lightweight">Create a Wirkn video application!</span>
                </div>

                <a class="quick-apply-link" ng-click="applyNow()">
                    <button id="kik_branch_button" class="quick-apply-btn">APPLY NOW</button>
                </a>            </div>
        </div>
    </div>
</div>

