<nav class="header">
    <div class="container text-center">
        <div class="row">
            <div class="col-xs-3"><img class="kik-wirkn-logo" ng-src="images/wirkn-logo-icon.png" alt="Wirkn logo icon" /></div>
            <div class="col-xs-6">{{"partials.list.JobsIn" | translate}} <span class="in-city"> {{city}}</span></div>
            <div class="col-xs-3">
                <a href="#/{{currentLocale}}/search" class="pull-right"><i class="fa fa-search header-icons"></i></a>
                <a href="#/{{currentLocale}}/list" class="pull-right"><i class="fa fa-map-marker header-icons"></i></a>
            </div>
        </div>
    </div>
</nav>
<div class="offset" id="top-bar"></div>
<div ng-if="searchTermVisible">
    <div class="offset-short"></div>
    <div class="filter">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <b>{{"partials.list.SearchTerm" | translate}}</b>: {{searchTerm}} 
                    <a href="#/{{currentLocale}}/list" class="pull-right">
                        <span class="fa fa-times-circle search-term-close" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
   </div>
</div>
<div class="container">
    <div class="row scroll">
        <div class="col-md-12 data-box">
            <input type="text" name="search" id="search" placeholder="{{'partials.list.Filter' | translate}}" class="search" ng-model="query"/>
        </div>
        <div class='text-center pre-load'>
            <img ng-src="/images/graphic.svg" style="margin-top:30px;">
        </div>
        <div ng-repeat="item in joblist | filter:query | orderBy: jobOrder:direction" id="item_{{joblist.indexOf(item)}}"><!-- | limitTo: 3 -->
            <a href="#/{{currentLocale}}/details/{{item._id}}">
                <div class="col-md-12 job-box">
                    <div class="data-text">
                        <div class="title">{{item.title}}</div>
                        <div class="">{{item.employer.name}}</div>
                        <div class="address">
                            <i class="fa fa-map-marker"></i>
                            <span>{{item.distance/1000 | number:2}}  km away</span>
                        </div>
                    </div>
                    <div class="data-img">
                    <img ng-src="{{item.cover_images[0]}}"></div>
                </div>
            </a>
        </div>
    </div>
</div>

