<nav class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <i class="fa fa-search header-icons"></i>
                <!--{{"partials.search.SearchJobs" | translate}}-->
                <input focus="true" type="text" placeholder="{{'partials.search.SearchJobs' | translate}}" class="header-input" ng-model="keyword" ng-keyup="getSuggestions(keyword)">
            </div>
            <div class="col-xs-4">
                <a href="#/{{currentLocale}}/list" onclick="history.go(-1);return false;" class="pull-right"><i class="fa fa-times-circle header-icons"></i></a>
            </div>
        </div>
    </div>
</nav>
<div class="search-terms">
    <ul>
        <li class="search-term"><p class="search-label">{{"partials.search.Categories" | translate}}</p></li>
        <div ng-show="categoryVisible">
            <li ng-repeat="item in categories" class="search-term">
                <a href="#/{{currentLocale}}/list/{{item.term}}">
                    <img class="search-image" ng-src="/images/pngs/{{item.image}}.png" alt="">
                    <span class="search-name">{{item.name | translate}}</span>
                </a>
            </li>
        </div>
        <div ng-show="!categoryVisible">
            <li ng-repeat="item in suggestions" class="search-term">
                <a href="#/{{currentLocale}}/list/{{item.title}}">
                    <span class="search-name">{{item.title}}</span>
                </a>
            </li>
        </div>
    </ul>
</div>
